
</style>

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<%- include('../partials/header')%>

<main class="px-3">
<h1>We could not find that page.</h1>
<p class="lead">Seems something went wrong with your request. Please head back home</p>
<p class="lead">
  <a href="/" class="btn btn-lg btn-primary fw-bold border-white bg-white">Go Back Home</a>
</p>
</main>

<%- include('../partials/footer')%>
</div>



</body>
</html>